<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.productMapper">

<insert id="prodInsert" parameterType="model.ProductDTO">
	insert into product(PROD_NO, CAT_NUM, PROD_NAME, PROD_PRICE, PROD_INFO, PROD_IMAGE, EMP_NO)
	values(#{prodNo},#{catNum},#{prodName},#{prodPrice},#{prodInfo},#{prodImage},#{empNo}) 
</insert>

<update id="cartQtyDown" parameterType="model.CartDTO">
	update cart
	set cart_qty = cart_qty - 1, 
		cart_price = cart_price - #{cartPrice}
	where memb_id = #{membId} and prod_no = #{prodNo}
</update>

<update id="prodUpdate">
	update product
	set PROD_NAME = #{prodName}, PROD_PRICE = #{prodPrice}, PROD_INFO = #{prodInfo}
	where PROD_NO = #{prodNo}
</update>

<select id="memCart" parameterType="string" resultType="string">
	select prod_no from cart where memb_id = #{membId}
</select>

<!-- selectList를 사용할 수 없다 (selectOne은 사용가능) -->
<resultMap type="model.ProductCartDTO" id="productCartMap">
	<association property="productDTO" javaType="model.ProductDTO">
		<result column="prod_name" jdbcType="VARCHAR" property="prodName"/>
		<result column="prod_price" jdbcType="VARCHAR" property="prodPrice"/>
	</association>
	<association property="cartDTO" javaType="model.CartDTO">
		<id column="memb_id" jdbcType="VARCHAR" property="membId"/>
		<id column="prod_no" jdbcType="VARCHAR" property="prodNo"/>
		<result column="cart_qty" jdbcType="VARCHAR" property="cartQty"/>
		<result column="cart_price" jdbcType="VARCHAR" property="cartPrice"/>
	</association>
</resultMap>

<select id="cartList" parameterType="model.CartDTO" resultMap="productCartMap">
	select prod_name, prod_price, 
    memb_id, c.prod_no, cart_qty, cart_price
	from product p, cart c
	where p.prod_no = c.prod_no and c.memb_id = #{membId} and c.prod_no = #{prodNo}
</select>

<insert id="cartInsert" parameterType="model.CartDTO" >
	merge into cart c
	using (select PROD_NO from product where PROD_NO = #{prodNo} ) p
	on (c.prod_no = p.prod_no and memb_id = #{membId})
	When matched then
	update set cart_qty = cart_qty + #{cartQty}, CART_PRICE = CART_PRICE + #{cartPrice}
	When not matched then
	insert (MEMB_ID, PROD_NO, CAT_NUM, CART_QTY, CART_PRICE)
	values(#{membId},#{prodNo},#{catNum},#{cartQty},#{cartPrice})
</insert>

<delete id="prodDelete" parameterType="string">
	delete from product
	where PROD_NO = #{prodNo}
</delete>

<select id="prodInfo" parameterType="String" resultType="model.ProductDTO">
	select PROD_NO prodNo, CAT_NUM catNum, PROD_NAME prodName, 
	       PROD_PRICE prodPrice, PROD_INFO prodInfo, PROD_IMAGE prodImage, 
	       EMP_NO empNo
	from product
	where PROD_NO = #{prodNo}
</select>

<select id="prodList" resultType="model.ProductDTO">
	select PROD_NO prodNo, CAT_NUM catNum, PROD_NAME prodName, 
	       PROD_PRICE prodPrice, PROD_INFO prodInfo, PROD_IMAGE prodImage, 
	       EMP_NO empNo
	from product
</select>

<select id="autoNum" resultType="string" >
	select GOODS_NUM.nextval from dual
</select>

<select id="catList" resultType="model.CatDTO">
	select cat_num catNum, cat_type catType, cat_name catName from category
</select>
</mapper>